i, .thumbnail {
  margin-right: 15px;
}
td a, td a:link a:visited  {
  text-decoration: none;
  color: inherit;
}

.table thead th {
  border-top: none;
  padding-bottom: 3px;
  padding-top: 1.5rem;
  font-weight: bolder;
}
table a, table i {
  vertical-align: middle;
}
.table {
  max-width: 700px;
  color: #5d5858;
  background-color: /*#f9f9f9*/#fcfcfc66;
}
tbody > tr:hover {
  background-color: #ebf3f61a;
}
.fa-folder {
  color: #00aeff99;
}

.col-sm {
  border-bottom: 1px solid #80808080;
  padding: 15px;
}
tr .fav {
  margin-left: 5px;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
tr:hover .fav {
  opacity: 1;
}
.starred {
  margin-left: 5px;
  vertical-align: middle;
  color: blue;
  opacity: 1;
}