<ng-template *ngIf="!dbxAuth.isAuth; then thenBlock; else elseBlock">
</ng-template>



<ng-template #thenBlock>
  <a routerLink="/auth" routerLinkActive="active">Go to Auth</a>
</ng-template>

<!-- <ng-template #elseBlock>
  <div class="row">
    <div class="col-sm-2">
      <ul class="nav flex-sm-column">
        <li class="nav-item nav-bar-brand">
          <i class="fab fa-dropbox fa-3x"></i>
        </li>
        <li class="nav-item">
          <a routerLink="" class="nav-link active">
            <i class="far fa-file"></i>Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/?stars" (click)="showFavorites($event)">
            <i class="far fa-star"></i>
            Starred
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/logout" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="col-md">
        <app-search></app-search>
        <app-webhooks></app-webhooks>
      </div>
      <div class="col-md">
        <app-storage></app-storage>
      </div>
    </div>
  </div>
</ng-template> -->
<ng-template #elseBlock>
  <div class="page-container">
    <div class="sidebar">
      <ul class="nav">
        <li class="nav-bar-brand">
          <a routerLink="">
            <i class="fab fa-dropbox fa-3x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="" class="nav-link active">
            <i class="far fa-file"></i>
            Files
          </a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="/stars" href="?status=favo"> Deleted by K -->
          <a class="nav-link" routerLink="/?stars" (click)="showFavorites($event)">
            <!-- K added -->
            <i class="far fa-star"></i>
            Starred
          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="/logout" routerLinkActive="active">
            <i class="fas fa-sign-out-alt"></i>
            Sign out!
          </a>
        </li>
      </ul>
    </div>
    <div class="main">
      <!-- <app-breadcrumbs></app-breadcrumbs>
      <app-search></app-search> 
      <app-upload></app-upload> -->
      <app-webhooks></app-webhooks>
      <div class="storage-container">
        <app-storage></app-storage>
      </div>
    </div>

  </div>
</ng-template>
<!-- <app-upload [currentPath]="currentPath"></app-upload> Deactivated by K-->