<p>
  board component works!
</p>


<ng-template *ngIf="!dbxAuth.isAuth; then thenBlock; else elseBlock"></ng-template>    

<ng-template #thenBlock>
    <a routerLink="/auth" routerLinkActive="active">Go to Auth</a>
</ng-template>

<ng-template #elseBlock>
    <app-storage [path]="currentPath"></app-storage>
    <app-search></app-search>
    <a routerLink="/logout" routerLinkActive="active">Logout</a>
</ng-template>

<!-- A example link -->
<p><a href="/?path=my folder">View my folder in console</a></p>