/* You can add global styles to this file, and also import other style files */
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css);
@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}
.nav {
  /*width: 15%;
  background-color: #444a64;*/
  background: linear-gradient(#444a64,#000000e6);
  text-align: center;
  height: 100vh;
}
.nav-link {
  color: #afb0af;
}
.active {
  background-color: #323031
}
.fa-dropbox {
  color: /*#787878*/#00b3fe;
  padding: 15px;

}
/* i, .thumbnail {
  margin-right: 15px;
}
td a, td a:link a:visited  {
  text-decoration: none;
  color: inherit;
}
.table thead th {
  border-top: none;
  padding-bottom: 3px;
  padding-top: 1.5rem;
}
table a, table i {
  vertical-align: middle;
}
.table {
  color: #5d5858;
  background-color: #fcfcfc66;
}
tbody > tr:hover {
  background-color: #ebf3f61a;
}
.fa-folder {
  color: #00aeff99;
}

.col-sm {
  border-bottom: 1px solid #80808080;
  padding: 15px;
}
tr .fav {
  margin-left: 5px;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
tr:hover .fav {
  opacity: 1;
}
.starred {
  margin-left: 5px;
  vertical-align: middle;
  color: blue;
  opacity: 1;
} */